[package]
name = "taos-error"
version = "0.2.9"
edition = "2021"
homepage = "https://github.com/taosdata/taos-connector-rust"
documentation = "https://docs.rs/taos-query"
repository = "https://github.com/taosdata/taos-connector-rust/tree/main/taos-error"
keywords = ["taos", "TDengine", "timeseries"]
license = "MIT OR Apache-2.0"
readme = "README.md"
description = "M-DSN: A Multi-address DSN(Data Source Name) parser."

build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1", features = ["derive"], optional = true }
mdsn = { path = "../mdsn", version = "0.2"}
thiserror = "1.0"

[build-dependencies]
rustc_version = "0.4.0"
regex = "1"
heck = "0.4.0"

[features]
default = ["serde"]
# backtrace = []
