[package]
name = "taos-sys"
version = "0.1.0"
edition = "2021"

build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "*"
bitvec = "1.0"
bstr = "0.2.17"
cfg-if = "1.0.0"
derive_more = "0.99"
futures = "0.3.21"
itertools = "0.10"
log = "0.4.16"
num_enum = "0.5.7"
once_cell = "1.10.0"
serde = { version = "1", features = ["derive"], optional = true }
serde_json = "1.0"
serde_repr = { version = "0.1.7", optional = true }
taos-error = { path = "../taos-error" }
taos-macros = { path = "../taos-macros" }
taos-query = { path = "../taos-query" }

[build-dependencies]
dotenv = "0.15.0"
libloading = "0.7.3"

[dev-dependencies]
anyhow = "1"
pretty_env_logger = "0.4.0"
serde = { version = "1", features = ["derive"] }
tokio = { version = "1", features = ["full"] }

[features]
default = ["backport"]
backport = []
serde1 = ["serde", "serde_repr"]
