[package]
name = "taos-ws"

edition.workspace = true
version.workspace = true
authors.workspace = true
description.workspace = true
license.workspace = true
readme.workspace = true
rust-version.workspace = true
repository.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1"
async-trait = { version = "0.1.56" }
bytes = "1.1.0"
dashmap = "5.4.0"
derive_more = "0.99"
futures = { version = "0.3" }
itertools = "0.10.3"
log = "0.4"
once_cell = "1"
parse_duration = "2.1"
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1" }
serde_repr = "0.1.8"
serde_with = "2.0.0"
taos-query = { path = "../taos-query", version = "0.7.6" }
thiserror = "1"
tokio = { version = "1", features = ["sync", "rt-multi-thread", "macros", "io-util", "time"] }
tokio-tungstenite = { version = "0.18.0" }

[dev-dependencies]
pretty_env_logger = "0.4.0"

[package.metadata.docs.rs]
features = ["rustls"]

[features]
default = ["tmq"]

rustls = ["tokio-tungstenite/rustls-tls-native-roots"]
native-tls = ["tokio-tungstenite/native-tls"]
native-tls-vendored = ["tokio-tungstenite/native-tls-vendored", "native-tls"]
sync = []
tmq = []
