[package]
name = "taos-ws"

edition.workspace = true
version.workspace = true
authors.workspace = true
description.workspace = true
license.workspace = true
readme.workspace = true
rust-version.workspace = true
repository.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1"
async-trait = { version = "0.1.80" }
bytes = "1.1.0"
dashmap = "5.4.0"
derive_more = "0.99"
futures = { version = "0.3" }
itertools = "0.13.0"
log = "0.4"
once_cell = "1"
parse_duration = "2.1"
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1" }
serde_repr = "0.1.8"
serde_with = "3.0.0"
taos-query = { path = "../taos-query", version = "0.12.3" }
thiserror = "1.0.47"
tokio = { version = "1", features = [
    "sync",
    "rt-multi-thread",
    "macros",
    "io-util",
    "time",
] }
tokio-tungstenite = { version = "0.23.0" }
ws-tool = { version = "0.11", features = [
    "async",
    "deflate",
    "async_tls_rustls",
] }
maplit = "1.0"
tracing = "0.1"
http = "1.0.0"
tokio-rustls = "0.23.4"

[dev-dependencies]
pretty_env_logger = "0.5.0"
criterion = { version = "0.5.1", features = ["stable"] }
tracing-subscriber = { version = "0.3.18", features = ["fmt"] }

[package.metadata.docs.rs]
features = ["rustls"]

[features]
default = ["tmq"]

rustls = ["tokio-tungstenite/rustls-tls-native-roots"]
native-tls = [
    "tokio-tungstenite/native-tls",
    "ws-tool/async_tls_native",
    "ws-tool/native-tls",
]
native-tls-vendored = [
    "tokio-tungstenite/native-tls-vendored",
    "native-tls",
]
sync = []
tmq = []
deflate = []
