[package]
name = "taos-ws-sys"
version = "0.2.1"
edition = "2021"
publish = false

[lib]
name = "taosws"
crate-type = ["cdylib", "staticlib"]

[dependencies]
anyhow = "1"
bytes = "1.1.0"
cargo_metadata = "0.18.1"
ctor = "0.2.9"
futures = { version = "0.3", features = ["executor"] }
once_cell = "1.20.2"
pretty_env_logger = "0.5.0"
serde_json = "1"
taos-error = { path = "../taos-error" }
taos-query = { path = "../taos-query" }
taos-ws = { path = "../taos-ws" }
tracing = { version = "0.1", features = ["log"] }
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }

[build-dependencies]
cbindgen = "0.27.0"
syn = { version = "2.0.91", features = ["full", "visit"] }

[features]
default = ["rustls", "rustls-ring-crypto-provider"]

native-tls = ["taos-ws/native-tls"]
native-tls-vendored = ["taos-ws/native-tls-vendored"]
rustls = ["taos-ws/rustls"]
rustls-ring-crypto-provider = ["rustls", "taos-ws/rustls-ring-crypto-provider"]
rustls-aws-lc-crypto-provider = [
    "rustls",
    "taos-ws/rustls-aws-lc-crypto-provider",
]
