[package]
name = "taos-query"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1"
chrono = { version = "0.4", features = ["serde"] }
derive_more = "0.99"
itertools = "0.10.3"
log = "0.4"
mdsn = { path = "../mdsn" }
num_enum = "0.5.7"
once_cell = "1.12.0"
rust_decimal = { version = "1", features = ["c-repr"] }
rustversion = "1.0.6"
select-rustc = "0.1"
thiserror = "1.0"
url = "2.2.2"

serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_repr = "0.1.7"

nom = "7"
paste = "1"

async-trait = { version = "0.1.53", optional = true }
futures = { version = "0.3.21", optional = true }

# column
bitflags = "1"
bitvec = "1.0.0"
bitvec_simd = { version = "0.20.5", features = ["use_serde"] }

r2d2 = { version = "0.8.9", optional = true }

[dev-dependencies]
pretty_env_logger = "*"
rand = "*"
# # taos = { path = "../taos" }
# taos-macros = { path = "../taos-macros" }
tokio = { version = "1", features = ["full"] }

[build-dependencies]
rustc_version = "0.4.0"

[features]
default = ["r2d2", "async"]
nightly = []
async = ["async-trait", "futures"]
